@model bool
<nav class="main-nav-outer" id="test">
    <!--main-nav-start-->
    <div class="container">
        <ul class="main-nav">
            <li><a href="@((Model)?"" : "/")#header">صفحه اصلی</a></li>
            <li><a href="@((Model)?"" : "/")#service">خدمات</a></li>
            <li><a href="@((Model)?"" : "/")#Portfolio">نمونه کار</a></li>
            <li class="small-logo"><a href="@((Model)?"" : "/")#header"><img src="/main/img/@ViewData["small-logo"]" alt=""></a></li>
            <li>
                <a href="@((Model)?"" : "/")#client">مشتریان</a>
            </li>
            <li><a href="@((Model)?"" : "/")#team">تیم ما</a></li>
            <li>
                <a asp-controller="home"
                   asp-action="contactus">تماس با ما</a>
            </li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->