@model List<MainPagePortfolioViewModel>

<section class="main-section paddind" id="Portfolio">
    <!--main-section-start-->
    <div class="container">
        @{
            var categories = Model.Select(p => p.Category).Distinct();
        }
        <h2>نمونه کار</h2>
        <h6>@Html.Raw(ViewData["WorkSamplesDescription"])</h6>
        @if (ViewData["AllPortfolio"] == null)
        {
            <h6><a asp-controller="home" asp-action="portfolio">بیشتر ببینید</a></h6>
        }
        <div class="portfolioFilter">
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="#" data-filter="*" class="current">همه</a></li>
                @foreach (var cat in categories)
                {
                    <li><a href="#" data-filter=".@cat.FilterName">@cat.Name</a></li>
                }
            </ul>
        </div>

    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        @foreach (var port in Model)
        {
            <div class=" Portfolio-box @port.Category.FilterName">
                <a href="#"><img src="/main/img/portfolio/@port.ImageName" alt=""></a>
                <h3>
                    @port.Name
                </h3>
                <p>@port.Category.Name</p>
            </div>
        }
    </div>

</section><!--main-section-end-->